@{
    ViewData["Title"] = "Home Page";
}
<style>
    /*body{
        background-image: 
    }*/
</style>
<div class="row" style="position: relative; top: 80px">
    <div class="col-md-3">
        <button asp-action="Index" asp-controller="Feud" class="btn btn-dark btn-lg">Feud</button>
    </div>
    <div class="col-md-3">
        <button asp-action="Index" asp-controller="OhNo" class="btn btn-dark btn-lg">OhNo</button>
    </div>
    <div class="col-md-3">
        <button asp-action="Index" asp-controller="Pass" class="btn btn-dark btn-lg">Pass</button>
    </div>
</div>


