@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url("https://i.groupme.com/3000x2250.jpeg.e30d9d1f46574be5b0d8e437166a020f.large");
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="row" style="position: relative; top: 80px">
    <div class="col-md-3">
        <a href="/Feud/Index"> <div class="btn btn-default btn-lg link">Feud</div></a>
    </div>
    <div class="col-md-3">
        <a href="/OhNo/Index"> <div class="btn btn-default btn-lg link">OhNo</div></a>

    </div>
    <div class="col-md-3">
        <a href="/Pass/Index"> <div class="btn btn-default btn-lg link">Pass</div></a>
    </div>
</div>

@section Scripts{


    <script type="text/javascript">

    </script>

}