@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        //background-image: url("https://i.groupme.com/3000x2250.jpeg.e30d9d1f46574be5b0d8e437166a020f.large");
        background-color: #000000;
        background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    }

    hr{
        color: white;
    }

    #heading {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: white;
        margin-left: 25px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
    }

    .btn {
        height: 200px;
        width: 200px;
        padding-top:110px;
        margin-top:50px;
        font-family: 'Times New Roman', Times, serif;
        font-size:35px;
        font-weight:bold;
        color:black;
        text-shadow: 2px 2px white;
        border: solid 2px white;
        border-radius:30%;
    }

        .btn:hover {
            transform: scale(1.1);
            border: solid 3px gray;
            color:gray;
        }

    .feudBtn {
        background-size: 300px;
        background-position-x:-100px;
        background-image: url(images/feud_button.jpg);
    }

    .ohnoBtn {
        background-size: 400px;
        background-image: url(https://images.freeimages.com/images/large-previews/962/cards-1425279.jpg);
    }

    .passBtn {
        background-size: 300px;
        background-image: url(https://images.freeimages.com/images/large-previews/258/playing-cards-3-1257410.jpg);
    }

</style>
<div class="row" style="position: relative; top: 80px">
    <div id="heading">Available Games</div><hr />
    <div class="col-md-3">
        <a href="/Feud"> <div class="btn btn-default btn-lg link feudBtn">FEUD</div></a>
    </div>
    <div class="col-md-3">
        <a href="/OhNo"> <div class="btn btn-default btn-lg link ohnoBtn">OH NO 99!</div></a>

    </div>
    <div class="col-md-3">
        <a href="/Pass"> <div class="btn btn-default btn-lg link passBtn">1,2,3 PASS!</div></a>
    </div>
</div>

@section Scripts{


    <script type="text/javascript">

    </script>

}