@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}
@model FeudViewModel


<h1>Feud</h1>

<canvas id="feudCanvas" width="50px" height="50px" style="border:1px solid brown"></canvas>
<div id="dude">asdf</div>
<div id="gameContainer" style="width:800px; height:600px; border:2px solid gray; position:center">
    <div class="row" id="playerHand" style="position:relative; top: 480px; left: 260px">
        <div class="col-sm-2" id="playerCard1" style="width:50px; height:70px; padding: 1px; border:1px dotted gray;"><img /></div>
        <div class="col-sm-2" id="playerCard2" style="width:50px; height:70px; padding: 1px; border:1px dotted gray;"><img /></div>
        <div class="col-sm-2" id="playerCard3" style="width:50px; height:70px; padding: 1px; border:1px dotted gray;"><img /></div>
        <div class="col-sm-2" id="playerCard4" style="width:50px; height:70px; padding: 1px; border:1px dotted gray;"><img /></div>
        <div class="col-sm-2" id="playerCard5" style="width:50px; height:70px; padding: 1px; border:1px dotted gray;"><img /></div>
        
        <div class="col-lg-1" id="playerDraw" style="width:50px; height:70px; padding: 1px; border:1px dotted gray; position:relative; left: 20px; bottom:40px">draw</div>
        <div class="col-lg-1" id="playerDiscard" style="width:50px; height:70px; padding: 1px; border:1px dotted gray; position:relative; right: 30px; top:40px">discard</div>
    </div>
   

</div>

@section Scripts{


<script type="text/javascript">
   
    debugger;
    //DECK Is original deck
    var deck =[];
    var temp;

    var player = [];
    var bot1 = [];
    var bot2 = [];
    var bot3 = [];
   
    @foreach(var item in Model.FeudGame.DrawDeck.Cards)
    {
        @:temp = @Html.Raw(Json.Serialize(item));
        @:deck.push(temp);
    }

    //conditionally check players first
   
    var x = deck.length
    for (i = 0; i < x; i++) {
        player.push(deck.pop());
        i++;
        bot1.push(deck.pop());
    }

    //$("#playerCard1").text(JSON.stringify(player.pop()));
    //$("#playerCard2").text(JSON.stringify(player.pop()));
    //$("#playerCard3").text(JSON.stringify(player.pop()));
    //$("#playerCard4").text(JSON.stringify(player.pop()));
    //$("#playerCard5").text(JSON.stringify(player.pop()));


    $("#dude").text(JSON.stringify(player.pop()));

</script>
    }