

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>

	here is a test div
</div>
<button id="testId">
	click me!
</button>

@section Scripts{ 


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script type="text/javascript">
	swal("test");
	$("#testId").on('click', function () {
		debugger;
		$.ajax({
			url: "/OhNo/TestMethod",
			action: "GET",
			success: function (data) {
				alert(data);
			}
		});

	});

	alert("Hello");
</script>


}