@{
    ViewData["Title"] = "1,2,3 Pass!";
}

@{
    Layout = "_Layout";
}

@model PassViewModel

<head>
    <style>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/ >
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/ >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
    </style>
</head>

@*required scripts*@
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

@*tile area implementation*@
<div class="title">1,2,3 Pass!</div>

@*middle area implementation*@
<div class="midArea">
    <div v-if="state=='start'" id="startPage">
        @*start button*@
        <button type="button" class="btn btn-success" id="startButton" v-on:click="state='play'">START</button>

        @*dropdown menu for difficulty selection*@
        <div id="difficultyDropDown">Difficulty:<br />
            <select style="background-color:black">
                <option value="easy">Easy</option>
                <option value="normal">Normal</option>
                <option value="hard">Hard</option>
            </select>
        </div>
    </div>

    <div v-if="state=='play'" id="playingPage">
        <button type="button" class="btn btn-success" id="restartButton" v-on:click="state='start'">Restart</button>
        <div id="middleDeck"></div>
        <div id="playerCards">
            <div id="pCard1"></div>
            <div id="pCard2"></div>
            <div id="pCard3"></div>
            <div id="pCard4"></div>
            <div id="playerName">Player</div>
        </div>
    </div>

</div>

@*footer implemenation*@
<div class="footer"></div>

<style>
    .title {
        width: 100%;
        height: 90px;
        background-image: url(https://images.pexels.com/photos/274096/pexels-photo-274096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: 550px 180px;
        color: white;
        font-family: monospace;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding-top: 15px;
        margin-top: 5px;
    }

    .midArea {
        width: 100%;
        height: 600px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-top: 5px;
    }

    #startPage {
        background-image: url(https://images.pexels.com/photos/297507/pexels-photo-297507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
        background-size: 1100px 600px;
        height: 600px;
        width: 100%;
    }

    #playingPage {
        background-image: url(https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: 1100px 600px;
        height: 600px;
        width: 100%;
    }

    #middleDeck {
        height: 120px;
        width: 80px;
        margin-top:160px;
        margin-left: 500px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: yellow;
    }

    #playerCards {
        margin-top: 80px;
        height: 100px;
        width: 100%;
    }

    #pCard1{
        height:120px;
        width: 80px;
        margin-left:340px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-image:url('../wwwroot/images/cards/2C.jpg');
    }
    #pCard2 {
        height: 120px;
        width: 80px;
        margin-left: 440px;
        margin-top:-120px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: yellow;
    }
    #pCard3 {
        height: 120px;
        width: 80px;
        margin-left: 540px;
        margin-top:-120px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: yellow;
    }
    #pCard4 {
        height: 120px;
        width: 80px;
        margin-left: 640px;
        margin-top:-120px;
        border-color: white;
        border-style: solid;
        border-width: 2px;
        background-color: yellow;
    }

    #playerName{
        color:white;
        margin-left:460px;
        font-family:monospace;
        font-size:40px;
    }

    #startButton {
        width: 300px;
        height: 100px;
        margin-top: 250px;
        margin-left: 10%;
        color: yellow;
        font-family: monospace;
        font-size: 40px;
        border-radius:20px;
    }

    #difficultyDropDown {
        font-family: monospace;
        font-size:30px;
        color:white;
        margin-top:-320px;
        margin-left: 70%;
    }

    #restartButton{
        width:150px;
        height:40px;
        margin-top:20px;
        margin-left:20px;
        font-family:monospace;
        font-size:20px;
        color:yellow;
    }

    .footer {
        width: 100%;
        height: 90px;
        background-image: url(https://images.pexels.com/photos/274096/pexels-photo-274096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: 550px 180px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-top: 5px;
    }
</style>

@section Scripts{ 
<script>
    var app = new Vue({
        el:".midArea",

        data:{
            state: "start"
        }
    });

    var deck = [];
    var temp;

    var player =[];
    var bot1 = [];
    var bot2 = [];
    var bot3 = [];

    @foreach(var item in Model.PassGame.DrawDeck.Cards)
    {
        @:temp = @Html.Raw(Json.Serialize(item));
        @:deck.push(temp);
    }

    var size = deck.length;
    for(i=0;i<size;i++)
    {
        player.push(deck.pop());
        i++
        bot1.push(deck.pop());
        i++
        bot2.push(deck.pop());
        i++
        bot3.push(deck.pop());
    }

    @*document.getElementById("pCard1").setAttribute('style',"background-image: url(../wwwroot/images/cards/"+2C+".jpg)");*@

    console.log(deck);
    console.log(player);
    console.log(bot1);
    console.log(bot2);
    console.log(bot3);
</script>

}