@{
    ViewData["Title"] = "1,2,3 Pass!";
}

@{
    Layout = "_Layout";
}

@model PassViewModel

<head>
    <style>
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/ >
        <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/ >
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" >
    </style>
</head>

@*required scripts*@
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

@*tile area implementation*@
<div class="title">1,2,3 Pass!</div>

@*middle area implementation*@
<div class="midArea">
    <div id="startPage">
        @*start button*@
        <button type="button" class="btn btn-success" id="startButton">START</button>

        <input type="text" id="nameInput" value="Player"/>
        @*dropdown menu for difficulty selection*@
        <div id="difficultyDropDown">Difficulty:<br />
            <select style="background-color:black" id="difficultyChoice">
                <option value="easy">Easy</option>
                <option value="normal">Normal</option>
                <option value="hard">Hard</option>
            </select>
        </div>
    </div>

    <div id="playingPage">
        <button type="button" class="btn btn-success" id="restartButton">Restart</button>
        <input type="text" id="timer" />
        <input type="text" id="winner" />
        <div id="middleDeck"></div>
        <div id="playerCards">
            <div id="pCard1"></div>
            <div id="pCard2"></div>
            <div id="pCard3"></div>
            <div id="pCard4"></div>
            <div id="playerName"></div>
        </div>
    </div>

</div>

@*footer implemenation*@
<div class="footer"></div>

<style>
    .title {
        width: 100%;
        height: 90px;
        background-image: url(https://images.pexels.com/photos/274096/pexels-photo-274096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: 550px 180px;
        color: white;
        font-family: monospace;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        padding-top: 15px;
        margin-top: 5px;
    }

    .midArea {
        width: 100%;
        height: 600px;
        background-color: black;
        background-size: 550px 180px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-top: 5px;
    }

    #startPage {
        background-image: url(https://images.pexels.com/photos/297507/pexels-photo-297507.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
        background-size: 1100px 600px;
        height: 600px;
        width: 100%;
    }

    #playingPage {
        background-size: 1100px 600px;
        height: 600px;
        width: 100%;
    }

    #startButton {
        width: 300px;
        height: 100px;
        margin-top: 250px;
        margin-left: 10%;
        color: yellow;
        font-family: monospace;
        font-size: 40px;
        border-radius: 20px;
    }

    #difficultyDropDown {
        font-family: monospace;
        font-size: 30px;
        color: white;
        margin-top: -320px;
        margin-left: 70%;
    }

    #nameInput {
        width: 200px;
        height: 50px;
        margin-left:30px;
        padding-left:20px;
        color: black;
        font-family: monospace;
        font-size: 40px;
        border:dotted 2px black;
        border-radius: 20px;
    }

    #timer{
        width:120px;
        height: 40px;
        margin-left:840px;
        margin-top:20px;
        font-family:monospace;
        font-size:40px;
        color: white;
        background-color:black;
        border-color:black;
    }

    #winner {
        height: 30px;
        width: 500px;
        margin-left: 350px;
        font-family: monospace;
        font-size: 30px;
        color: white;
        background-color: black;
        border-color: black;
    }
   
    #middleDeck {
        height: 100px;
        width: 66px;
        margin-top: 140px;
        margin-left: 500px;
        border: solid 1px gray;
        border-radius: 10%;
        background-image: url(images/cards/Gray_back.jpg);
        transform: scale(1.5);
    }

    #playerCards {
        margin-top: 100px;
        height: 100px;
        width: 100%;
        color:black;
    }

    #pCard1{
        height: 100px;
        width: 70px;
        margin-left: 450px;
        border:solid 1px gray;
        border-radius:10%;
        color:black;
        transform:scale(1.4);
    }

    #pCard2 {
        height: 100px;
        width: 70px;
        margin-left: 500px;
        margin-top: -100px;
        border: solid 2px gray;
        border-radius: 10%;
        transform: scale(1.4);
    }

    #pCard3 {
        height: 100px;
        width: 70px;
        margin-left: 550px;
        margin-top: -100px;
        border: solid 2px gray;
        border-radius: 10%;
        transform: scale(1.4);
    }

    #pCard4 {
        height: 100px;
        width: 70px;
        margin-left: 600px;
        margin-top: -100px;
        border: solid 2px gray;
        border-radius: 10%;
        transform: scale(1.4);
    }

    #playerName{
        color:white;
        margin-left:500px;
        margin-top:10px;
        font-family:monospace;
        font-size:30px;
    }
    
    #restartButton{
        width:150px;
        height:40px;
        margin-top:20px;
        margin-left:20px;
        font-family:monospace;
        font-size:20px;
        color:yellow;
    }

    .footer {
        width: 100%;
        height: 90px;
        background-image: url(https://images.pexels.com/photos/274096/pexels-photo-274096.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: 550px 180px;
        border-style: solid;
        border-width: 1px;
        border-color: black;
        margin-top: 5px;
    }
</style>

@section Scripts{ 
<script>
    var deck = [];
    var temp;

    var player =[];
    var bot1 = [];
    var bot2 = [];
    var bot3 = [];

    var playerChoice = 0;
    var winner = false;
    var difficulty;

    @foreach(var item in Model.PassGame.DrawDeck.Cards)
    {
        @:temp = @Html.Raw(Json.Serialize(item));
        @:deck.push(temp);
    }

    @*hide the playing page at start*@
    $("#playingPage").hide();


    @*BUTTON CLICK FUNCTIONS*@
    @*START BUTTON AT LANDING PAGE*@
    $("#startButton").on('click',function(){
        $("#startPage").hide();
        $("#playingPage").show();
        $("#playerName").html($("#nameInput").val());
        $("#winner").prop('disabled',true);
        $("#timer").prop('disabled',true);
        $("#timer").val(0);
        difficulty = $("#difficultyChoice").val();
        gameStart();
    })

    @*RESTART BUTTON AT PLAYING PAGE*@
    $("#restartButton").on('click',function(){
        $("#startPage").show();
        $("#playingPage").hide();
        location.reload();
    })


    @*BUTTONS FOR PLAYER'S EACH CARD*@
    $("#pCard1").on('click',pCard1Click);
    $("#pCard2").on('click',pCard2Click);
    $("#pCard3").on('click',pCard3Click);
    $("#pCard4").on('click',pCard4Click);

    function pCard1Click(){
        $("#pCard1").css('transform','scale(1.6)');
        $("#pCard2").css('transform','scale(1.4)');
        $("#pCard3").css('transform','scale(1.4)');
        $("#pCard4").css('transform','scale(1.4)');
        playerChoice = 0;
    }
    function pCard2Click(){
        $("#pCard1").css('transform','scale(1.4)');
        $("#pCard2").css('transform','scale(1.6)');
        $("#pCard3").css('transform','scale(1.4)');
        $("#pCard4").css('transform','scale(1.4)');
        playerChoice = 1;
    }
    function pCard3Click(){
        $("#pCard1").css('transform','scale(1.4)');
        $("#pCard2").css('transform','scale(1.4)');
        $("#pCard3").css('transform','scale(1.6)');
        $("#pCard4").css('transform','scale(1.4)');
        playerChoice = 2;
    }
    function pCard4Click(){
        $("#pCard1").css('transform','scale(1.4)');
        $("#pCard2").css('transform','scale(1.4)');
        $("#pCard3").css('transform','scale(1.4)');
        $("#pCard4").css('transform','scale(1.6)');
        playerChoice = 3;
    }


    @*start of the game*@
    function gameStart(){
        distributeCards();
        displayCards();
        if(!winner)
           startCount();
    }


    @*distribute 4 cards each*@
    function distributeCards(@*totalPlayers*@){
        var size = deck.length;
        for(i=0;i<size;i++)
        {
            player.push(deck.pop());
            i++
            bot1.push(deck.pop());
            i++
            bot2.push(deck.pop());
            i++
            bot3.push(deck.pop());
        }
    }

    @*display the cards in hand*@
    var pCardId = "#pCard1";
    var card = '';
    var cardUrl = '';
    function displayCards(){
        for(i=0;i<4;i++)
        {
            if(player[i].value == 1)
                card = "A" + player[i].suit.charAt(0);
            else
                card = player[i].value + player[i].suit.charAt(0);

            cardUrl = "url('images/cards/"+card+".jpg')";
            $("#pCard"+(i+1)).css("background-image", cardUrl);
        }
    }

    @*timer*@
    var c = 1;
    var t;
    function startCount() {
        $("#timer").val(c);
        c = c + 1;
        if(c==5)
        {
            c="Pass!"
            $("#timer").val(c);
            passCards();
            $("#pCard"+(playerChoice+1)).css('transform','scale(1.4)');
        }
        if(!winner)
            t = setTimeout(startCount, 800);
    }

    @*CARD PASS LOGIC*@
    @*pass the first card to the right*@
    function passCards(){
        if(difficulty === "easy")
        {
            bot1.push(...player.splice(playerChoice,1));
            bot2.push(bot1.shift());
            bot3.push(bot2.shift());
            player.push(bot3.shift());
        }
        else if(difficulty === "normal")
        {
            
        }
        else if(difficulty === "hard")
        {

        }

        displayCards();
        checkForWin();
        c=1;
    }


    @*CHECK FOR WINNER*@
    function checkForWin(){
        if(checkWinCase(player))
        {
            $("#winner").val($("#nameInput").val()+" won this round!");
            winner = true;
        }
        else if(checkWinCase(bot1))
        {
            $("#winner").val("BOT-1 won this round!");
            winner = true;
        }
        else if(checkWinCase(bot2))
        {
            $("#winner").val("BOT-2 won this round!");
            winner = true;
        }
        else if(checkWinCase(bot3))
        {
            $("#winner").val("BOT-3 won this round!");
            winner = true;
        }
    }

    @*CHECK FOR WINNER helper*@
    function checkWinCase(checkPlayer){
        var checkThis = [];
        for(i=0;i<4;i++)
        {
            checkThis.push(checkPlayer[i].value);
        }
        console.log(checkThis);
        console.log("------");
        @*if(checkThis[0].value==checkThis[1].value && checkThis[1].value==checkThis[2].value && checkThis[2].value == checkThis[3].value)*@
        if(checkThis[0]==checkThis[1] && checkThis[1]==checkThis[2] && checkThis[2] == checkThis[3])
        {
            $("#restartButton").html("New Game");
            disableAll();
            return true;
        }

        return false;
    }

    @*DISABLE ALL CLICKS*@
    function disableAll(){
        $("#pCard1").off('click');
        $("#pCard2").off('click');
        $("#pCard3").off('click');
        $("#pCard4").off('click');
    }

    @*ENABLE ALL CLICKS*@
    function enableAll(){
        if(!winner)
        {
            $("#pCard1").on('click',pCard1Click);
            $("#pCard2").on('click',pCard2Click);
            $("#pCard3").on('click',pCard3Click);
            $("#pCard4").on('click',pCard4Click);
        }
    }

    console.log(deck);
    console.log(player);
    console.log(bot1);
    console.log(bot2);
    console.log(bot3);
</script>

}